@import "../../../variable";

.card {
  width: 400px;
}

.header {
  color: $primary;
  margin-bottom: 25px;
}

a {
  display: inline-block;
  padding-top: 15px;
}

.radio-option {
  padding-right: 20px;
}

.radio-wrapper {
  display: block;
  width: 100%;
  margin: 10px 0 20px;
}
