.title-wrapper {
  position: relative;
  margin-bottom: 40px;
  padding-top: 50px;

  h2 {
    margin: 0;
    padding: 0 120px 0 0;
  }

  .add-btn {
    display: block;
    position: absolute;
    top: 45px;
    right: 0;
  }
}


th, td { text-align: center !important; }
